.navigation {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #18121E;
}

h1 {
    font-family: 'Nunito', san-serif;
    margin-left: 5vw;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: #F4F4F4;
}

.desktop {
    width: 40vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}

li {
    cursor: pointer;
}

a {
    font-family: 'Nunito', san-serif;
    text-decoration: none;
    color: #F4F4F4;
    font-weight: lighter;
}

.active {
    border-bottom: 1px solid #EAC67A;
}

.mobileMenu {
    display: none;
}

@media (max-width: 850px) {
    .desktop {
        display: none;
    }

    .mobileMenu {
        display: block;
        background: none;   
        border: none;
        margin-right: 5vw;
        padding: 0;
        color:#F4F4F4;
        font-size: 30px;
        cursor: pointer;
    }
}
