.about {
  min-height: 100vh;
  width: 100vw;
  background: #f9f8fd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/michael-aleo-584674-unsplash\ copy.jpg');
  background-size: cover;
  background-position: center;
}

#softwareEngineer {
  color:#f9f8fd;
}

#and {
  color:#191919;
}

#coffee {
  color:#f9f8fd;;
}

.about ul {
  margin-top: 100px;
  height: 40vh; 
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  text-align: center;
}

@media (max-width: 850px) {

  .about {
    background-position: center;
  }

  .about ul {
    font-size: 1.5em;
    height: 30vh;
  }
}

