.projects {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 13vh;
  background: #191919;
}

h3 {
  font-family: 'Nunito', san-serif;
  color: #EAC67A;
  text-align: center;
  align-self: center;
  font-size: 1.75em;
  letter-spacing: 0.25em;
  width: 100%;
  border-top: 1px solid #EAC67A;
  border-bottom: 1px solid #EAC67A;
  padding: 0.2em 0 0.2em 0;
}

.projectsList {
  height: 100%;
  width: 20vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EAC67A;
  background: #000000;
}

.projectsList li {
  align-self: stretch;
  padding: 1vw;
  font-size: 1.25em;
  font-family: 'Nunito', san-serif;
  color: #f9f8fd;
}

.projectsList li:hover {
  background: #984B43;
  color: #f9f8fd;
  font-size: 1.25em;
}

.active {
  background: #984B43;
}

@media (max-width: 850px) {
  .projectsList {
    display: none;
  }
}
