.hide {
  display: none;
}

.title {
  display: none;
}

.project {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

.projectDescription {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin: 0.5em;
  color: #f4f4f4;
  text-align: center;
}

.tech {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #EAC67A;
}

.tech p {
  color: #EAC67A;
  font-size: 1.25em;
  font-family: 'Nunito', san-serif;
  margin: 10px;
}

.links {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #EAC67A;
}

.links a {
  font-family: 'Nunito', san-serif;
  color: #EAC67A;
  font-size: 1.25em;
  margin: 10px;
}

.links a:hover {
  color: #984B43;
}

@media (max-width: 850px) {
  .project {
    max-width: 90vw;
    margin: auto;
    margin-bottom: 13vh;
    background: #18121E;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 10px;
  }
  .hide {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13vh;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 10px;
  }

  .title {
    display: block;
    color: #EAC67A;
    font-family: 'Nunito', san-serif;
    margin: 15px 0 15px 0;
  }

  .links {
    margin-bottom: 1em;
    margin-top: 1em;
    border: none;
  }

  .links a {
    color: #EAC67A;
    border: 1px solid #EAC67A;
    border-radius: 10px;
    padding: 0.3em;
  }

  .tech {
    border-right: none;
    border-left: none;
  }

  .tech p {
    color: #984B43;
  }
}
