main {
    height: 100vh;
    width: 100wh;
    background: #f9f8fd;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 4em;
    background-image: url('../assets/kelly-sikkema-450720-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main p {
  font-family: 'Nunito', san-serif;
  margin-top: 200px;
  text-align: center;
  color: #f9f8fd;
}
