header {
  display: flex;
  flex-direction: column;
  height: 33vh;
}

h1 {
  visibility: hidden;
}

.myName {
  font-family: 'Roboto';
  animation: slidein 0.5s ease;
  -webkit-animation: slidein 0.5s ease;
  margin-left: 40px; 
  color: #7dce94;
}

.myNameOut {
  font-family: 'Roboto';
  animation: slideout 0.5s ease;
  -webkit-animation: slideout 0.5s ease;
  margin-left: 40px;
  color: #7dce94;
}

.display:hover {
  transform: scale(1.1);
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  height: 33vh;
  background: #272727;
  color: white;
}

.headerContent p {
  text-align: center;
  border: 1px solid white;
  padding: 20px;
}

.blinking-cursor {
  border: 1px solid white;

}

.stickNav {
  position: fixed;
  width: 100%;
  top: 0;
  background: #272727;

}

nav {
  height: 8vh;
  padding: 3px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #272727;
}

ul {
  width: 33vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}
    
li {
  font-family: 'Roboto Condensed';
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #f6f5f3;
}

.active a {
  color: #7dce94;
  border-bottom: 1px solid #7dce94;
}

@media screen and (max-width: 850px) {


  .myName, h1 {
    display: none;
  }

  nav {
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
  }

  ul {
    width: 100vw;
    margin: 0;
    justify-content: space-around;
  }
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: 'initial';
  }
}

@-webkit-keyframes slideout {
  from {
    transform: 'initial'
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-200%)
  }
  to {
    transform: 'initial';
  }
}

@keyframes slideout {
  from {
    transform: 'initial'
  }
  to {
    transform: translateX(-200%);
  }
}


