header {
  display: flex;
  flex-direction: column;
  height: 33vh;
}

.myName {
  display: none;
  font-family: 'Roboto';
  margin-left: 40px; 
}

.display:hover {
  transform: scale(1.1);
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  height: 33vh;
  background: red;
}

.stickNav {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;

}

nav {
  height: 8vh;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  width: 33vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}
    
li {
  font-family: 'Roboto Condensed';
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.active a {
  color: red;
}

@media screen and (max-width: 850px) {

  .myName {
    display: none;
  }

  nav {
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: 100vw;
    margin: 0;
    justify-content: space-around;
  }
}
