:local(.header) {
  display: flex;
  flex-direction: column;
  height: 33vh;
  
  h1 {
    font-family: 'Roboto';
    margin-left: 20px; 
    transition: all .2s ease-in-out;
  }

  h1:hover {
    transform: scale(1.1);
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 33vh;
    background: red;
  }

  .stick-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;

    nav {
      height: 5vh;
    }
  }

  .on-projects {
    color: 'green';
  }

  nav {
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      width: 33vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin-right: 20px;
    }
    
    li {
      font-family: 'Roboto Condensed';
    }

    li:hover {
      cursor: pointer;
    }
  }
}
