.headerWrapper {
  top: -20vh;
  position: sticky;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 30vh;
  min-height: 30vh;
  background: #272727;
}

.fixHeader {
  position: sticky;
  width: 100vw;
}

.menu {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 850px) {
  .headerWrapper {
    position: fixed;
    top: -20vh;
  }

  .menuOpen {
    height: 90vh;
    width: 100vw;
    position: fixed;
    transition: 0.5s;
    overflow-y: hidden;
    z-index: 1;
    background: lightgrey;
  }

  .menuClosed {
    height: 0;
    width: 100vw;
    transition: 0.5s;
    background: lightgrey;
    overflow-y: hidden;
    z-index: 1;
  }
}


