.navigation {
    min-height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #272727;
    color: white;
}

h1 {
    margin-left: 5vw;
}

.desktop {
    width: 40vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: #7dce94;
}

button {
    display: none;
}

.menuClosed {
    display: none;
}

@media (max-width: 850px) {
    .desktop {
        display: none;
    }

    /* .navigation {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #272727;
        color: white;
    } */

    button {
        display: block;
        background: none;   
        border: none;
        margin-right: 5vw;
        padding: 0;
        color: white;
        font-size: 30px;
    }
}
